{% extends 'maps/base.html' %}

{% load static %}
{% load i18n %}
{% load custom_template_tags %}
{% block content %}
{% include "maps/leaflet.html" %}

<style>
#map {
    height: 90vh;
    border-radius: 5px;
    font-size: 0px; // para esconder la palabra leaflet
    //top: 5px;
    //bottom: 5px;
    //left: 5px;
    //margin-right: 0px;
}
.circle-image-marker {
    height: 80px !important;
    width: 80px !important;
    border-radius: 50%;
    border: solid;
    border-color: green;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container-fluid">
    <div class="row">
<div class="col-md-6 col-sm-12 mt-2" style="overflow-y: auto; max-height: 90vh;">
    <div class="row">
        {% for point in interestPoints.all %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    {% for img_point in interestPointsImages %}
                        {% if img_point.interest_point_id.id == point.id %}
                            <img class="d-block w-100" src="{{ img_point.image.url }}" alt="Card image cap" style="height: 200px; object-fit: cover;">
                        {% endif %}
                    {% endfor %}
                    <div class="card-body">
                        <a href="{% url 'maps:InterestPointDetailView' point.id %}"><h5 class="card-title">{{ point.title }}</h5></a>
                        <p class="card-text">{{ point.short_description }}</p>
                        <p class="card-text">
                            <small class="text-muted">Categories:
                                {% for category in point.category.all %}
                                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


        <div class="col-md-6 col-sm-12">
            <div id="map"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        {% for point in interestPoints %}
            $('#carousel{{ forloop.counter }}').carousel();
        {% endfor %}
    });
</script>
<script>
    var zoom_map = 6;
    var latitude = 40.078774770944534;
    var longitude = -3.7004158795299302;
    var markersSearch = new L.markerClusterGroup();
    var markersInterestPoint = new L.markerClusterGroup();
    var markersCamperNightPoint = new L.markerClusterGroup();
    var click_mark = new L.markerClusterGroup();
    var circle = new L.circle();

</script>
<script type="text/javascript" src="{% static 'js/main_leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locationfound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mapClick.js' %}"></script>
<script  type="text/javascript">
    var first_time_location = 0;

    map.on('locationfound', function (e) {
        console.log("first_time_location 0", first_time_location);
        if (first_time_location == 0) {
        var km = 150;
        var km2m = km * 1000;
        circle = new L.circle(e.latlng, km2m).setStyle({color: 'green'}).addTo(map);
        var circleBounds = circle.getBounds();
        var combinedBounds = L.latLngBounds(circleBounds.getSouthWest(), circleBounds.getNorthEast());
        combinedBounds.extend(e.latlng);
        map.fitBounds(combinedBounds);
        {% for points in interestPoints %}
            var longitude = "{{ points.longitude }}";
            var latitude = "{{ points.latitude }}";
            var longitude = parseFloat(longitude.replace(",", "."));
            var latitude = parseFloat(latitude.replace(",", "."));
            var fromLatLng = new L.LatLng(e.latlng['lat'], e.latlng['lng']);
            var toLatLng = new L.latLng(latitude, longitude);
            var distance_geo = fromLatLng.distanceTo(toLatLng)/1000;
            if (distance_geo < km2m){
                var popupContent = `
                    <div>
                        <a href="{% url 'maps:InterestPointDetailView' points.id %}" ><h2>{{points.title}}</h2></a>
                        <h5>{{points.short_description}}</h5>
                    </div>
                `;
            var customIcon = L.icon({
                iconUrl: '{{points.image.url}}',
                className: 'circle-image-marker',
                iconAnchor: [16, 16], // set the anchor point of the icon
                popupAnchor: [0, -8]
            });
                markersInterestPoint.addLayer(L.marker([latitude, longitude], {icon: customIcon}).bindPopup(popupContent));
            }
        {% endfor %}
        {% for points in CamperNightPoints %}
            var longitude = "{{ points.longitude }}";
            var latitude = "{{ points.latitude }}";
            var longitude = parseFloat(longitude.replace(",", "."));
            var latitude = parseFloat(latitude.replace(",", "."));
            var fromLatLng = new L.LatLng(e.latlng['lat'], e.latlng['lng']);
            var toLatLng = new L.latLng(latitude, longitude);
            var distance_geo = fromLatLng.distanceTo(toLatLng)/1000;
            if (distance_geo < km2m){
                var popupContent = `
                    <div>
                        <h2>{{points.title}}</h2>
                        <h5>{{points.short_description}}</h5>
                    </div>
                `;
                var customIcon = L.icon({
                    iconUrl: '/media/icons/chatgpt_autocaravana.png',
                    iconSize: [50, 50], // set the size of the icon
                    iconAnchor: [16, 16], // set the anchor point of the icon
                    popupAnchor: [0, -8]
                });
                markersCamperNightPoint.addLayer(L.marker([latitude, longitude], {icon: customIcon}).bindPopup(popupContent));
            }
        {% endfor %}

        map.addLayer(markersInterestPoint);
        map.addLayer(markersCamperNightPoint);
        var interest = "<img src='https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png' width='15' > " + "interest";
        var night = "night <img src='/media/icons/chatgpt_autocaravana.png' style='width:30px; height: 30px; vertical-align: middle;'> night";
        var overlayMaps = {};
        overlayMaps[interest] = markersInterestPoint;
        overlayMaps[night] = markersCamperNightPoint;
        L.control.layers(baseMaps, overlayMaps, { collapsed: false }).addTo(map);

        }
        first_time_location = first_time_location + 1;
});

</script>
{% endblock %}