{% extends 'maps/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
{% include "maps/leaflet.html" %}

<style>
#map {
    height: 80vh;
    border-radius: 5px;
    font-size: 0px; // para esconder la palabra leaflet
    //top: 5px;
    //bottom: 5px;
    //left: 5px;
    //margin-right: 0px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ interestPoints }}
            {{ CamperNightPoints }}
        </div>
        <div class="col-md-6 col-sm-12">
            <div id="map"></div>
        </div>
    </div>
</div>
<script>
    var zoom_map = 6;
    var latitude = 40.078774770944534;
    var longitude = -3.7004158795299302;
    var markersSearch = new L.markerClusterGroup();
    var markersInterestPoint = new L.markerClusterGroup();
    var markersCamperNightPoint = new L.markerClusterGroup();
    var click_mark = new L.markerClusterGroup();
    var circle = new L.circle();
</script>
<script type="text/javascript" src="{% static 'js/main_leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locationfound.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mapClick.js' %}"></script>
<script  type="text/javascript">
    console.log("{{ interestPoints }}");
    {% for points in interestPoints %}
        var longitude = "{{ points.longitude }}";
        var latitude = "{{ points.latitude }}";
        var longitude = parseFloat(longitude.replace(",", "."));
        var latitude = parseFloat(latitude.replace(",", "."));
        console.log(longitude, latitude);
    {% endfor %}
    console.log("{{ CamperNightPoints }}");
    {% for points in CamperNightPoints %}
        var longitude = "{{ points.longitude }}";
        var latitude = "{{ points.latitude }}";
        var longitude = parseFloat(longitude.replace(",", "."));
        var latitude = parseFloat(latitude.replace(",", "."));
        console.log(latitude, longitude);
        markersCamperNightPoint.addLayer(L.marker([latitude, longitude])).bindPopup();
        map.addLayer(markersCamperNightPoint);
        var overlayMaps = {};
        overlayMaps['night'] = markersCamperNightPoint;
        L.control.layers(baseMaps, overlayMaps, { collapsed: true }).addTo(map);
    {% endfor %}
</script>
{% endblock %}