{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account_login.css' %}">
<style>
    .container {
        max-width: 600px; /* Set your preferred maximum width */
        margin: 0 auto;
    }

    /* Add more styles and media queries as needed for responsiveness */
    @media screen and (max-width: 600px) {
        /* Adjust styles for screens with a maximum width of 600px */
        .container {
            width: 60%;
        }
        h1, h2 {
            font-size: 20px;
            margin: 0px;
        }
        p, input {
            font-size: 10px;
            padding: 8px;
            margin: 0px;
        }
        a[title="Google"] {
            margin-top: 0px;
        }
    }
</style>
<div class="container">
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
</div>
<script src="{% static 'js/random_background.js' %}"></script>

{% endblock content %}
